<?xml version="1.0" encoding="UTF-8"?>

<?ifndef DevEnvDir?>

<?define SRCDIR=$(env.INETROOT)\$(env.INFRASTRUCTURE_DROP)\ptf\PCGTool?>
<?define SYMB_DLL_DIR=$(env.INETROOT)\SYMBOLS\$(env.BUILDTYPE)\$(env.BUILDTARGET)\dll?>
<?define SYMB_EXE_DIR=$(env.INETROOT)\SYMBOLS\$(env.BUILDTYPE)\$(env.BUILDTARGET)\exe?>
<?define PCG_SRC_ROOT=$(env.INETROOT)\Infrastructure\src\ptf\PCGTool?>
<?define BLDVER=$(env._BLDVERMAJOR).$(env._BLDVERMINOR).$(env._BLDNUMMAJOR).$(env._BLDNUMMINOR)?>
<?define EXTERNALTOOL_REF_PATH=$(env.INETROOT)\build\external\tools?>
<?else?>

<?if $(var.Platform) = "x86"?>
<?define BUILDTARGET=i386?>
<?else?>
<?define BUILDTARGET=amd64?>
<?endif?>

<?ifdef Debug?>
<?define BUILDTYPE=debug?>
<?else?>
<?define BUILDTYPE=release?>
<?endif?>

<?define SRCDIR=$(var.ProjectDir)..\..\..\drop\$(var.BUILDTYPE)\$(var.BUILDTARGET)\Infrastructure\ptf\PCGTool?>
<?define SYMB_DLL_DIR=$(var.ProjectDir)..\..\..\SYMBOLS\$(var.BUILDTYPE)\$(var.BUILDTARGET)\dll?>
<?define SYMB_EXE_DIR=$(var.ProjectDir)..\..\..\SYMBOLS\$(var.BUILDTYPE)\$(var.BUILDTARGET)\exe?>
<?define PTF_SRC_ROOT=$(var.ProjectDir)..\..\..\Infrastructure\src\ptf\PCGTool?>
<?define BLDVER=1.0.1.0?>
<?define EXTERNALTOOL_REF_PATH=$(var.ProjectDir)..\..\..\build\external\tools?>
<?endif?>

<?define SRCDIR_VS9=$(var.SRCDIR)\vs9?>
<?define SRCDIR_VS10=$(var.SRCDIR)\vs10?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="PTF">

    <!-- WixVSExtension properties for visual studio directories -->
    <PropertyRef Id="VS90_ROOT_FOLDER" />
    <PropertyRef Id="VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <PropertyRef Id="VS90_PROJECTTEMPLATES_DIR" />
    <PropertyRef Id="VS90_SCHEMAS_DIR" />
    <PropertyRef Id="VS2010_ROOT_FOLDER" />
    <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <PropertyRef Id="VS2010_PROJECTTEMPLATES_DIR" />
    <PropertyRef Id="VS2010_SCHEMAS_DIR" />
    <PropertyRef Id="VS90_ITEMTEMPLATES_DIR"/>
    <PropertyRef Id="VS2010_ITEMTEMPLATES_DIR"/>

    <!-- Program Files -->
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="PCG_ROOT_DIR" Name="PCGTool">
        <Directory Id="PCG_Templates" Name="Templates"/>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <!-- visual studio project templates -->
      <Directory Id="VS90_ITEMTEMPLATES_DIR">
        <Directory Id="VS90_Item_CSharp" Name="CSharp" >
          <Directory Id="VS90_Item_Data" Name="Data" >
            <Directory Id="VS90_Item_1033" Name="1033" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS2010_ITEMTEMPLATES_DIR">
        <Directory Id="VS2010_Item_CSharp" Name="CSharp" >
          <Directory Id="VS2010_Item_Data" Name="Data" >
            <Directory Id="VS2010_Item_1033" Name="1033" />
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <!-- PTF Bin -->
    <DirectoryRef Id="PTF_Bin">

      <!-- Registry infromation --><!--
      <Component Id="PTF_REG" Guid="*" Feature="PCG_ALL">
        <RegistryKey Id="PTF_REG_INSTALLDIR"
                     Action="create"
                     Root="HKLM"
                     Key="SOFTWARE\Microsoft\ProtocolTestFramework">
          <RegistryValue Value="[PTF_Bin]" Type="string" Name="InstallDir"/>
        </RegistryKey>

        <RegistryKey Id="PTF_REG_FOR_VS_REFERENCE"
                     Action="create"
                     Root="HKLM"
                     Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\ProtocolTestFramework">
          <RegistryValue Value="[PTF_Bin_VS9]" Type="string"/>
        </RegistryKey>

        <Environment Id="PTF_ENV_PATH"
                     Name="PATH"
                     Action="set"
                     System="yes"
                     Part="last"
                     Value="[PTF_Bin]" />
      </Component>

      --><!-- Registry information for VS2010 reference (.Net 4.0) --><!--
      <Component Id="PTF_REG_DOTNET_FX4" Guid="*" Feature="PCG_ALL">
        <RegistryKey Id="PTF_REG_FOR_VS_REFERENCE_NET_40"
                     Action="create"
                     Root="HKLM"
                     Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\ProtocolTestFramework">
          <RegistryValue Value="[PTF_Bin_VS10]" Type="string"/>
        </RegistryKey>
      </Component>-->
    </DirectoryRef>

    <DirectoryRef Id="PCG_Templates">

      <!-- BlankTemplate.xml -->
      <Component Id="BlankTemplate.xml" Guid="*" Feature="PCG_ALL">
        <File Id="BlankTemplate.xml"
              Source="$(var.PTF_SRC_ROOT)\Templates\BlankTemplate.xml" />
      </Component>
    </DirectoryRef>

    <!-- PTF Config file item template for VS 2008 -->
    <DirectoryRef Id="VS90_1033">
      <Component Id="VS90_PcgTemplate" Guid="{D47EEAF7-900B-491A-98F2-AC111CDCB0B2}" Feature="PCG_ALL">
        <File Id="VS90_PtfTestSolutionTemplateVs9.zip" Vital="yes"
              Source='$(var.SRCDIR)\PtfTestSolutionTemplateVs9.zip' />
        <Condition>VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
      </Component>
    </DirectoryRef>

    <!-- PTF Config file item template for VS 2010 -->
    <DirectoryRef Id="VS2010_1033">
      <Component Id="VS2010_PcgTemplate" Guid="{6CDC532F-67A7-400B-ABF6-6EC56B856AB0}" Feature="PCG_ALL">
        <File Id="VS2010_PtfTestSolutionTemplateVs10.zip" Vital="yes"
              Source='$(var.SRCDIR)\PtfTestSolutionTemplateVs10.zip' />
        <Condition>VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
      </Component>
    </DirectoryRef>

    <Feature Id="PCG_All"
         Title="PTF Config file Generator"
         Description="PTF Config file Generator"
         Level="1"
         Display="hidden" />

  </Fragment>

</Wix>